body {
	background-color: steelblue;
	font-family: "Reem Kufi Fun", sans-serif;
	/*font-family: "Roboto Condensed", sans-serif;
	font-family: "Roboto", sans-serif;*/
	margin: 25px;
}

.df {
	display: flex;
}
.justify-content-center {
	justify-content: center;
}
.align-items-center {
	align-items: center;
}
.align-content-center {
	align-content: center;
}
